.card {
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card img {
  height: 100px;
}

.card h3 {
  font-size: 16px;
  margin: 20px;
}

.card p {
  opacity: 0.6;
}
